body{
    background-image: url("../index/fundo-pagina-body-transparente.jpg");
    
}

h1{
    background-color: rosybrown;
    text-align: center;
}
#slogan{
    font-size: large;
    text-align: center;
}
#redes-sociais{
    font-size: large;
    text-align: center;
    background-color: rosybrown;
}