*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(32, 31, 31, 0.925);
    height: 60px;
    
}
#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#btnBusca{
    height: 30px;
    width: 30px;
    margin-right: 12px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 31, 31, 0.925);
    height: 60px;
    color: white;
}

video{
    width: 200px;
    height: 250px;
}